<div class="bhoechie-tab-content">
	<section id="registration-documents">
		<div class="section-content">
			<h1 class="section-header">Registration Details *</h1>
		</div>
		<div class="bluebg-txt">Allied healthcare professionals do not need to enter registration details. <a href="">Know more</a></div>
		<div class="contact-section">
			<form>
				<div class="row">
					<div id="fields" class="col-md-12 form-line">
						<div class="form-group control-group after-add-more">
							<div class="row">
								<div class="col-md-4">
									<label for="exampleInputUsername">Council Registration Number *</label>
									<input type="text" placeholder="12314562" class="form-control" />
								</div>
								<div class="col-md-4">
									<label for="InputUsername">Council Name *</label>
									<select class="form-control"><option>Delhi, Homeopathic college</option>
										  <option>Cuttack, Homeopathic college</option></select>
								</div>
								<div class="col-md-4">
									<label for="InputUsername">Year *</label>
									<select class="form-control">
									<option>2001</option>
									<option>2002</option>
									<option>2004</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<a class="btn addqual-btn"><i class="fa fa-plus"></i> add registration</a>
					</div>
				</div>
			</form>
		</div>
	</section>
	<hr/>
	<section>
		<div class="row">
			<div class="col-md-12">
				<div id="contact-detail">
					<div class="section-content">
						<h1 class="section-header">Documents / Certificates *</h1>
					</div>
					<div class="bluebg-txt">
						Add photo proof for Registration certificate & identity card to publish your profile. We require photo proofs to ensure that only you get access to your profile and nobody else
					</div>
					<div class="form-group">
						<label for="description">Doctor Documents&nbsp; <i class="fa fa-info-circle" 
    		   data-toggle = "tooltip" data-placement = "down"
    		   title="Most of the patients on your profile will read this to book an appointment with you. Mention details of your medical expertise or other information that you want to highlight. Please don't add contact information in this section."></i></label>
						<div class="image-uploader-pan">
							<form>
								<input type="file" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>